.form-container{
	width: 70%;
	margin: 0 auto;
	padding: 40px;
	background: lightblue;
}
.header-form {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.form-control {
    border: none !important;
    padding: 0 !important;
    margin-bottom: 15px;
    background: none !important;
}
input[type="text"] {
    float: right;
    width: 80%;
    height: 35px;
}
.form-control:last-child {
    margin-left: 10vw;
}
.button-login {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}
.button-login span{
	color: #fff;
}
.button-login button{
    border: none;
    background: #017CB8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.button-login button:focus{
	outline-style: none;
}



/* RESPONSIVE */
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 767px) {

}
@media (max-width: 667px) {
	
}
@media (max-width: 568px) {

}
@media (max-width: 480px) {

}
@media (max-width: 414px) {
	
}
@media (max-width: 375px) {
	
}
@media (max-width: 350px) {
	
}
@media (max-width: 320px) {
	
}